{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <a href="{% url 'book_list' %}" class="back-button">Назад</a>
    <div class="authors-container">
        {% for author in authors %}
        <div class="author-card">
            <img src="{{ author.image }}" alt="{{ author.name }}" class="author-image">
            <h2 class="author-name">{{ author.name }}</h2>
            <p class="author-role">{{ author.role }}</p>
            <p class="author-description">{{ author.description }}</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}