{% extends 'base.html' %}

{% block content %}

    <div class="container">
        <form method="get" action="{% url 'book_list' %}" class="d-flex mb-4">
            <input type="text" name="search" class="form-control me-2" style="width: 900px; margin-left: 10%; margin-top: 2%;" placeholder="Пошук книги за назвою" value="{{ request.GET.search|default:'' }}">
            <button type="submit" class="btn btn-dark" style="margin-top: 2%;">Пошук</button>
        </form>
        
        {% if user.is_authenticated %}
        <div style="margin-left: 92%; margin-top: -5%;">
            <a href="{% url 'favorite_books' %}" class="btn btn-dark me-2">Мої улюблені</a>
        </div>
        {% endif %}
    
        <!-- Список книг -->
        
        <div class="container mt-4">
            <!-- Список книг -->
            <div class="row">
                {% for book in books %}
                <div class="col-md-4 mb-4">
                    <div class="card book-card">
                        {% if book.photo %}
                        <img src="{{book.photo.url}}" alt="Book cover" class="card-img-top book-image">
                        {% else %}
                        <img src="https://m.media-amazon.com/images/I/719uMEB4kiL._AC_UF1000,1000_QL80_.jpg"
                            class="card-img-top book-image" alt="Default cover">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="{% url 'book_detail' book.id %}" style="text-decoration: none; color: black;">
                                    {{book.title}}
                                </a>
                            </h5>
                            <p class="card-author text-muted">{{book.author}}</p>
                            <p class="card-genre text-muted">{{book.genre}}</p>
                            {% if user.is_authenticated %}
                            <a href="{% url 'like_book' book.id %}" class="btn
                                {% if book in liked_books %} btn-success {% else %} btn-outline-success {% endif %}">
                                {% if book in liked_books %} Лайкнуто {% else %} Лайкнути {% endif %}
                            </a>
                        {% endif %}
                        </div>
                    </div>
                </div>
                {% empty %}
                <h3 class="text-center">Книги відсутні</h3>
                {% endfor %}
            </div>
        </div>

    </div>
{% endblock %}
