{% extends 'base.html' %}
  {% block content %}
  <div class="containerDiv" style="width: 80%; margin-left: 10%; margin-top: 1%;">
    
    <div class="detailsDiv" style="border-radius: 5px; width: 80%; height: 700px;margin-left: 10%;">
      <img src="{{book.photo.url}}" alt="..." width="400px" height="500px">
        <div class="details" style="margin-left: 420px; margin-top: -38%; width: 70%;">
          <h4>{{book.title}}</h4>
          <h5 style="color: #6c757d;">{{book.author}}</h5>
          <hr style="width: 800px; margin-left: 10px;">
          <p class="detailP" style="font-weight: bolder; font-size: 18px;">Кількість сторінок</p>
            <div class="detailDivs" style="width: 70px; background-color: rgb(241, 239, 239); text-align: center; border-radius: 5px;">
              {{book.numberOfPages}}
            </div>
          <br>
          <p class="detailP" style="font-weight: bolder; font-size: 18px;">Жанр</p>
            <div class="detailDivs" style="width: 300px; background-color: rgb(241, 239, 239); text-align: center; border-radius: 5px;">
              {{book.genre}}
            </div>
          <br>
          <p>{{book.description}}</p>
          <br>
          <button class="btn btn-dark me-2">
            <a href="{% url 'read_book' book.id %}" style="color: white; text-decoration: none;">Читати</a>
          </button>
          <button class="btn btn-outline-dark">
            <a href="{% url 'download_book' book.id %}" style="color: black; text-decoration: none;"> Завантажити</a>
          </button>
        </div>
        
    </div>
    
  </div>


{% endblock %}
    