{% extends "base.html" %}
{% block content %}
<h2 style="margin-left: 40%;">{{ book.title }}</h2>

<div class="book-text" style="width: 80%; margin-left: 10%;">
    {% for line in page_obj %}
        <p>{{ line }}</p>
    {% endfor %}
</div>


<div class="d-flex justify-content-center mt-4" style="margin-bottom: 20px;">
    <nav>
        <ul class="pagination" >
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link bg-dark" style="color: white; font-weight: bolder;" href="?page=1{% if request.GET.category_id %}&category_id={{ request.GET.category_id }}{% endif %}" aria-label="Перша">
                        <span aria-hidden="true">&laquo;&laquo;</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link bg-dark" style="color: white; font-weight: bolder;" href="?page={{ page_obj.previous_page_number }}{% if request.GET.category_id %}&category_id={{ request.GET.category_id }}{% endif %}" aria-label="Попередня">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            {% endif %}
            
            <li class="page-item disabled">
                <span class="page-link bg-dark" style="color: white; font-weight: bolder;">Сторінка {{ page_obj.number }} з {{ page_obj.paginator.num_pages }}</span>
            </li>

            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link bg-dark" style="color: white; font-weight: bolder;" href="?page={{ page_obj.next_page_number }}{% if request.GET.category_id %}&category_id={{ request.GET.category_id }}{% endif %}" aria-label="Наступна">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link bg-dark" style="color: white; font-weight: bolder;" href="?page={{ page_obj.paginator.num_pages }}{% if request.GET.category_id %}&category_id={{ request.GET.category_id }}{% endif %}" aria-label="Остання">
                        <span aria-hidden="true">&raquo;&raquo;</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
</div>
{% endblock %}
